@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
    --main-color: #07776E;
    --text-grey: #414141;
    --background: #FAFAFA;
}

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
}

.sidebar {
    height: calc(100% - 60px);
    width: 270px;
    position: fixed;
    left: 0;
    top: 78px;
    z-index: 100;
    background: #fff;
    color: var(--text-grey);
    overflow-y: auto;
    box-shadow: -5px 0 15px 0 rgb(54, 54, 54);
}

.sidebar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 0rem 1rem;
}

.siderbar-menu {
    padding: 1rem;
}

.sidebar li {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.sidebar a {
    color: var(--text-grey);
    font-size: .9rem;
}

.sidebar a span:last-child {
    padding-left: .6rem;
}

.sidebar-user {
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
}

img {
    border-radius: 50%;
    height: 74px;
    width: 72px;
}

.user-image {
    padding-top: 20px;
}

.main-content {
    position: relative;
    margin-left: 270px;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    background: var(--main-color);
    height: 78px;
    padding: 0rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
}

main {
    padding-top: 20px;
    padding-left: 50px;
    padding-right: 50px;
    background: var(--background);
    min-height: 200vh;
}

h3{
    font-size: 36px;
    font-weight: 400;
    font-style: normal;
    font-family: 'Poppins', sans-serif;
    color: #FFF;
}

h5{
    font-size: 30px;
    font-weight: 400;
    font-style: normal;
    font-family: 'Poppins', sans-serif;
    color: #FFF;
}

.website-name {
    padding-left: 55px;
}

.active {
    background-color: #fccf053a;
    border-left: 5px solid #FCCD05;
    color: #FFF;
}

hr {
    border-top: 1px solid #DBD5D5;
}

.button {
    border: none;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-radius: 37px;
    font-family: 'Poppins', sans-serif;
    color: #FFF;
    font-size: 16px;
    font-weight: 5px;
    outline: none;
}

.btn1 {
    background-color: #A64AC9;
    position: fixed;
    bottom: 25px;
    right: 70px;
    padding-left: 50;
    padding-right: 50px;
}

.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button:hover span {
    padding-right: 25px;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }


.btnCancel {
    background-color: #959595;
}

.btnDelete {
    background-color: #FF0000;
}

a {
	color: #4f4d4d;
	text-decoration: none;
}

a:hover, a:focus {
	color: #000;
}

*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

a, button {
	outline: none;
}
.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}
 
.clearfix:after {
	clear: both;
}

/* Header Style */

.ccheader {
	margin: 0 auto;
	padding: 2em;
	text-align: center;
}

.ccheader h1 {
	font-size: 2.625em;
    font-weight: 300;
    line-height: 1.3;
    margin: 0;
}

.ccheader h1 span {
	display: block;
	padding: 0 0 0.6em 0.1em;
	font-size: 60%;
	opacity: 0.7;
}



/* Demo Buttons Style */
.codeconvey-demo {
	padding-top: 1em;
	font-size: 0.8em;
}

.codeconvey-demo a {
	display: inline-block;
	margin: 0.5em;
	padding: 0.7em 1.1em;
	outline: none;
	border: 2px solid #fff;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 700;
}

.codeconvey-demo a:hover,
.codeconvey-demo a.current-demo,
.codeconvey-demo a.current-demo:hover {
	border-color: #333;
	color: #333;
}

section{ float:left; width:100%;}

.cctabs {
    width: 100%;
    margin: 100px auto;
}
.cctabs input[type="radio"] {
    opacity: 0;
}
.cctabs .fa{
    margin-right:10px;	
}
.cctabs label {
    color: #000;
    cursor: pointer;
    float: left;
    margin-right: 2px;
    padding: 0.5% 2%;
    font-size:16px;
    font-weight:bold;
}
.cctabs input:checked + label {
    background: #fff;
    color: #ebb704;
    border-top: solid 2px #ebb704;
}
.cctabs input:nth-of-type(1):checked ~ .panels .panel:first-child, .cctabs input:nth-of-type(2):checked ~ .panels .panel:nth-child(2), .cctabs input:nth-of-type(3):checked ~ .panels .panel:nth-child(3), .cctabs input:nth-of-type(4):checked ~ .panels .panel:last-child {
    opacity: 1;
    -webkit-transition: .3s;
    
}
.cctabs .panels {
    float: left;
    clear: both;
    position: relative;
    width: 100%;
    background: #fff;
}
.cctabs .panel {
    width: 100%;
    opacity: 0;
    position: absolute;
    background: #fff;
    padding: 4%;
    box-sizing: border-box;
}
.cctabs .panel h2 {
    margin: 0;
    font-family: Arial;
}

.cctabs .panel i{
	color:#ebb704;
	cursor:pointer;	
}
.cctabs .panel i:hover{
	color:#f4cc42;
}

.cctabs .headline h1 {
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 0.6px;
    padding-bottom: 0;
    text-align: center;
    text-rendering: optimizespeed;
	margin: 10px 0;
}

.cctabs .headline hr {
    background: none repeat scroll 0 0 #ebb704;
    border: 2px solid;
    color: #ebb704;
    margin-bottom: 0;
    margin-top: 0;
    width: 30px;
}

.cctabs .headline .lead {
    font-family: "Lato",sans-serif;
    font-weight: 300;
    line-height: 1.9;
    margin: 5px 0;
    text-align: center;
}
#map-canvas {
    height: 366px;
    width: 462px;
}


#cc-contact input[type="text"], 
#cc-contact input[type="email"],
#cc-contact input[type="tel"],
#cc-contact input[type="password"],
#cc-contact textarea{
	width:100%;
	border:1px solid #ebb704;
	margin:0 0 5px;
	padding:10px;
	font-family: "Lato",sans-serif;
	font-size:14px;
}

#cc-contact textarea {
	height:147px;
	max-width:100%;
}

#cc-contact button[type="submit"] {
	cursor:pointer;
	width:100%;
	border:none;
	background:#ebb704;
	color:#FFF;
	margin:0 0 5px;
	padding:10px;
	font-size:15px;
}

#cc-contact button[type="submit"]:hover {
	background:#f4cc42;
	-webkit-transition:background 0.3s ease-in-out;
	-moz-transition:background 0.3s ease-in-out;
	transition:background-color 0.3s ease-in-out;
}


/* GRID*/
.grid {
    display: block;
    margin-left: -10px;
}
.cc-text-center{
	text-align:center;
}
.cc-mt-20{
	margin-top:50px;	
}
.unit-2,
.unit-3,
.unit-4 {
    float: left;
    border-left: 10px solid transparent;
    box-sizing: border-box;
    background-clip: padding-box;
}
.unit-1{
	width:100%;
	float:left;	
}
.unit-2 {
    width: 50%;
}

.unit-3 {
    width: 33.3%;
}

.unit-4 {
    width: 25%;
}




